h1 {
    color: #1d2535;
}

body {
    background-color: #c3e9e9;
    
}

.content {
    .container {
        margin-left: 0px;
    }    
    .table td {
        padding: 0.3rem;
    }
    .modal.show .modal-dialog {
        max-width: 1200px;
    }
}

footer {
    text-align: center;
}