{% extends "layout.html"%}
{% block title %}Circuits{% endblock %}
{% block page_title %}
    <div class="container mt-3">
    <h2>Circuits Page</h2>
    </div>
{% endblock %}
{% block content %}
    <div class="container mt-3">
        <form action="{{ url_for("circuits_page") }}" method="post">
            <button class="btn btn-primary mb-3" type="submit">Show All Circuits</button>
        </form>
        <form action="{{ url_for("viewCircuit.filter_data") }}" method="post">
          <label for="column_input">Filter by Column:</label>
          <select name="column_input" id="column_input" class="form-control">
              {% for column in columns %}
                  <option value="{{ column }}">{{ column }}</option>
              {% endfor %}
          </select>
          <br>
          <label for="filter_input">Filter Value:</label>
          <input type="text" name="filter_input" id="filter_input" class="form-control" placeholder="Enter Filter Value">
          <br>
          <button class="btn btn-primary mb-3" type="submit">Filter Data</button>
      </form>
        <form action="{{ url_for('viewCircuit.add_circuits') }}" method="post">
            <div class="row g-3 align-items-center mb-3">
              <div class="col">
                <input type="text" name="circuitRef" class="form-control" placeholder="albert_park">
                <small class="form-text text-muted">Circuit Ref</small>
              </div>
              
              <div class="col">
                <input type="text" name="name" class="form-control" placeholder="Albert Park ">
                <small class="form-text text-muted">Name</small>
              </div>
              <div class="col">
                <input type="text" name="location" class="form-control" placeholder="Melbourne">
                <small class="form-text text-muted">Location</small>
              </div>
              <div class="col">
                <input type="text" name="country" class="form-control" placeholder="Australia">
                <small class="form-text text-muted">Country</small>
              </div>
              <div class="col">
                <input type="text" name="lat" class="form-control" placeholder="-37.8497">
                <small class="form-text text-muted">Lat</small>
              </div>
              <div class="col">
                <input type="text" name="lng" class="form-control" placeholder="144.968">
                <small class="form-text text-muted">Lng</small>
              </div>
              <div class="col">
                <input type="text" name="alt" class="form-control" placeholder="23">
                <small class="form-text text-muted">Alt</small>
              </div>
              <div class="col">
                <input type="url" name="url" class="form-control" placeholder="http://www.example.com">
                <small class="form-text text-muted">URL</small>
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-success">Add Circuit</button>
              </div>
            </div>
          </form>          
        {% if table_names and bool%}
        <table class="table">
            <thead>
                <tr>
                    {% for column in columns %}
                    <th>{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in circuits_data %}
                <tr class="season-row">
                    {% for value in row %}
                    <td>{{ value }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
{% endblock %}
