{% extends "layout.html" %}

{% block title %}
  Drivers Page
{% endblock %}

{% block page_title %}
  <div class="container mt-3">
    <h2>Drivers Page</h2>
  </div>
{% endblock %}

{% block content %}
  <div class="container mt-3">
    <form action="{{ url_for("viewDriver.drivers_page") }}" method="post">
      <button class="btn btn-primary mb-3" type="submit">Show All Drivers</button>
    </form>
    {% if table_names %} 
    <table class="table">
      <thead>
        <tr>
          {% for column in columns %}
            <th>{{ column }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in drivers_data %}
          <tr class="driver-row">
            {% for value in row %}
              <td>{{ value }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
{% endblock %}
