{% extends "layout.html" %}

{% block title %}
  Drivers Page
{% endblock %}

{% block page_title %}
  <div class="container mt-3">
    <h2>Drivers Page</h2>
  </div>
{% endblock %}

{% block content %}
  <div class="container mt-3">
    <form action="{{ url_for("viewDriver.drivers_page") }}" method="post">
      <button class="btn btn-primary mb-3" type="submit">Show All Drivers</button>
    </form>
    <form action="{{ url_for("viewDriver.filter_data") }}" method="post">
      <label for="column_input">Filter by Column:</label>
      <select name="column_input" id="column_input" class="form-control">
          {% for column in columns %}
              <option value="{{ column }}">{{ column }}</option>
          {% endfor %}
      </select>
      <br>
      <label for="filter_input">Filter Value:</label>
      <input type="text" name="filter_input" id="filter_input" class="form-control" placeholder="Enter Filter Value">
      <br>
      <button class="btn btn-primary mb-3" type="submit">Filter Data</button>
  </form>
  <form action="{{ url_for('viewDriver.add_driver') }}" method="post">
    <div class="row mb-2">
      <div class="col">
        <input type="text" class="form-control" placeholder="hamilton" disabled>
      </div>
      <div class="col">
        <input type="number" class="form-control" placeholder="44" disabled>
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="HAM" disabled>
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Lewis" disabled>
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Hamilton" disabled>
      </div>
      <div class="col">
        <input type="text" class="form-control" style="width: 130px;" placeholder="1985-07-01" disabled>
    </div>    
      <div class="col">
        <input type="text" class="form-control" placeholder="British" disabled>
      </div>
      <div class="col">
        <input type="url" class="form-control" placeholder="http://en.wikipedia.org/wiki/Lewis_Hamilton" disabled>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-success mb-3" disabled>Sample</button>
    </div>    
    </div>
    <div class="row">
      <div class="col">
        <input type="text" name="driverRef" class="form-control" placeholder="Driver Reference">
      </div>
      <div class="col">
        <input type="number" name="number" class="form-control" placeholder="Number">
      </div>
      <div class="col">
        <input type="text" name="code" class="form-control" placeholder="Code">
      </div>
      <div class="col">
        <input type="text" name="forename" class="form-control" placeholder="Forename">
      </div>
      <div class="col">
        <input type="text" name="surname" class="form-control" placeholder="Surname">
      </div>
      <div class="col">
        <input type="date" name="dob" class="form-control" placeholder="Date of Birth">
      </div>
      <div class="col">
        <input type="text" name="nationality" class="form-control" placeholder="Nationality">
      </div>
      <div class="col">
        <input type="url" name="url" class="form-control" placeholder="URL">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-success mb-3">Add</button>
      </div>
    </div>
  </form>
    {% if table_names %} 
    <table class="table">
      <thead>
        <tr>
          {% for column in columns %}
            <th>{{ column }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in drivers_data %}
          <tr class="driver-row">
            {% for value in row %}
              <td>{{ value }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
{% endblock %}
