<!DOCTYPE html>
<html lang="en">

  <style>
    table, th, td {
      border: 1px solid black;
    }
  </style>

  <head>
    <meta charset="utf-8"/>
    <title>BLG317E - {% block title %}{% endblock %}</title>  
    <link rel="stylesheet"
            href="{{ url_for('static', filename='formula1.css') }}"/>  
  </head>
  <body>
    {% block page_title %}{% endblock %}
    <header>
      <nav>
        <ul>
          <li><a href="{{ url_for('home_page') }}">Home</a></li>   
          <li><a href="{{ url_for('select_table') }}">List tables</a></li>
        </ul>
      </nav>
    </header> 
    {% block content %}{% endblock %}   
    <footer>
      <small>&copy; Istanbul Technical University</small>
    </footer>
	

  </body>
  
</html>


