<!DOCTYPE html>
<html lang="en">

  <style>
    table, th, td {
      border: 1px solid black;
    }
  </style>

  <head>
    <meta charset="utf-8"/>
    <title>My movies - {% block title %}{% endblock %}</title>  
    <!-- <link rel="stylesheet" href="/static/mymovies.css"/> -->
	
	<link rel="stylesheet"
          href="{{ url_for('static', filename='mymovies.css') }}"/>  
  </head>
  <body>
    {% block content %}{% endblock %}   
    <header>
      <nav>
        <ul>
          <li><a href="{{ url_for('home_page') }}">Home</a></li>   
          <li><a href="{{ url_for('table_page') }}">List tables</a></li>
        </ul>
      </nav>
    </header> 
    <footer>
      <small>&copy; Istanbul Technical University</small>
    </footer>
	

  </body>
  
</html>


