{% extends "layout.html"%}
{% block title %}Races{% endblock %}
{% block page_title %}
    <div class="container mt-3">
    <h2>Races Page</h2>
    </div>
{% endblock %}
{% block content %}
    <div class="container mt-3">
        <form action="{{ url_for("races_page") }}" method="post">
            <button class="btn btn-primary mb-3" type="submit">Show All Races</button>
        </form>
        <form action="{{ url_for("viewRace.filter_data") }}" method="post">
            <label for="column_input">Filter by Column:</label>
            <select name="column_input" id="column_input" class="form-control">
                {% for column in columns %}
                    <option value="{{ column }}">{{ column }}</option>
                {% endfor %}
            </select>
            <br>
            <label for="filter_input">Filter Value:</label>
            <input type="text" name="filter_input" id="filter_input" class="form-control" placeholder="Enter Filter Value">
            <br>
            <button class="btn btn-primary mb-3" type="submit">Filter Data</button>
        </form>
        <form action="{{ url_for('viewRace.add_race') }}" method="post" onsubmit="return validateYearAndDate()">
            <div class="row g-3 align-items-center mb-3">
              <div class="col">
                <input type="number" name="year" id="yearInput" class="form-control" placeholder="2021">
                <small class="form-text text-muted">Year</small>
              </div>
              <div class="col">
                <input type="number" name="round" class="form-control" placeholder="5">
                <small class="form-text text-muted">Round</small>
              </div>
              <div class="col">
                <input type="number" name="circuitId" class="form-control" placeholder="7">
                <small class="form-text text-muted">Circuit ID</small>
              </div>
              <div class="col">
                <input type="text" name="name" class="form-control" placeholder="Monaco Grand Prix">
                <small class="form-text text-muted">Name</small>
              </div>
              <div class="col">
                <input type="date" name="date" id = "dateInput" class="form-control">
                <small class="form-text text-muted">Date</small>
              </div>
              <div class="col">
                <input type="time" name="time" class="form-control" step="1">
                <small class="form-text text-muted">Time</small>
              </div>
              <div class="col">
                <input type="url" name="url" class="form-control" placeholder="http://www.example.com">
                <small class="form-text text-muted">URL</small>
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-success">Add Race</button>
              </div>
            </div>
          </form>        
        
        
        {% if table_names and bool%}
        <table class="table">
            <thead>
                <tr>
                    {% for column in columns %}
                    <th>{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in races_data %}
                <tr class="season-row">
                    {% for value in row %}
                    <td>{{ value }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <script>
          window.onload = function() {
              var duplicateExists = "{{ duplicate_exists }}";
              if (duplicateExists === "True") {
                  alert("Duplicate entries are not permitted.");
              }
          };
      </script>
        <script>
          function validateYearAndDate() {
              var yearInput = document.getElementById('yearInput').value;
              var dateInput = new Date(document.getElementById('dateInput').value);
              var dateYear = dateInput.getFullYear();
      
              if (yearInput != dateYear) {
                  alert("Year and Date do not match!");
                  return false; 
              }
              return true;
          }
          </script>
    </div>
{% endblock %}
