{% extends "layout.html"%}
{% block title %}Seasons{% endblock %}
{% block page_title %}
    <div class="container mt-3">
    <h2>Seasons Page</h2>
    </div>
{% endblock %}
{% block content %}
    <div class="container mt-3">
        <form action="{{ url_for("seasons_page") }}" method="post">
            <button class="btn btn-primary mb-3" type="submit">Show All Seasons</button>
        </form>
        {% if table_names %}
        <table class="table">
            <thead>
                <tr>
                    {% for column in columns %}
                    <th>{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in seasons_data %}
                <tr class="season-row">
                    {% for value in row %}
                    <td>{{ value }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
{% endblock %}
